<template>
    <div>
        <FormHeaderPage title="Produtos e Serviços" />
        <PageBody>
            <form @submit.prevent="onSubmit">
                <div class="mb-3 row tipo-insercao">
                    <label class="form-label">Escolha o tipo de inserção</label>                    
                    <div class="ms-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="produto" id="radio-produto" v-model="tipo" :disabled="edit">
                            <label class="form-check-label" for="radio-produto">Produto</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="servico" id="radio-servico" v-model="tipo" :disabled="edit">
                            <label class="form-check-label" for="radio-servico">Serviço</label>
                        </div>
                    </div>
                </div>
                <template v-if="tipo === 'produto'">
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-8">
                            <label for="nome" class="form-label">Nome do Produto <span class="required">*</span></label>
                            <input type="text" ref="nome" class="form-control" id="nome" v-model="produto.nome" placeholder="Digite o nome do produto" required>
                            <ValidationMessage classes="mt-2" :field="produto.validate.nome" />
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <label for="codigo_barras" class="form-label">Código de Barras <i class="fa-solid fa-barcode ms-2"></i></label>
                            <input type="text" ref="codigo_barras" class="form-control" id="codigo_barras" v-model="produto.codigo_barras" placeholder="Código de barras do produto">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-6">
                            <label for="marca_id" class="form-label">Marca</label>
                            <AutoComplete :source="marcas.data" v-model="search.marca" label-attribute="nome" id-attribute="id"  @select="handleSelect" :allow-create="false" />
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <label for="categoria_id" class="form-label">Categoria</label>
                            <AutoComplete :source="categorias.data" v-model="search.categoria" label-attribute="nome" id-attribute="id"  @select="handleSelect" :allow-create="false" />
                        </div>                    
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-6">
                            <label for="fornecedor_id" class="form-label">Fornecedor</label>
                            <AutoComplete :source="fornecedores.data" v-model="search.fornecedor" label-attribute="nome" id-attribute="id"  @select="handleSelect" :allow-create="false" />
                        </div>                    
                        <div class="col-md-12 col-lg-3">
                            <label for="estoque_minimo" class="form-label">Estoque Mínimo <i class="fa-solid fa-circle-info ms-2"></i></label>
                            <input type="number" min="0" ref="estoque_minimo" class="form-control" id="estoque_minimo" v-model="produto.estoque_minimo" placeholder="Estoque mínimo do produto para disparar alerta">
                        </div>
                        <div class="col-md-12 col-lg-3">
                            <label for="estoque_atual" class="form-label">Estoque Atual</label>
                            <input type="number" ref="estoque_atual" class="form-control" id="estoque_atual" v-model="produto.estoque_atual" placeholder="Quanto há do produto em estoque">
                        </div>                    
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-6">
                            <label for="preco_compra" class="form-label">Preço de Compra</label>
                            <money3 v-model="produto.preco_compra" v-bind="configMoney" id="preco_compra" class="form-control"/>
                        </div>                    
                        <div class="col-md-12 col-lg-3">
                            <label for="preco_venda" class="form-label">Preço de Venda <span class="required">*</span></label>
                            <money3 v-model="produto.preco_venda" v-bind="configMoney" id="preco_venda" class="form-control" required/>
                            <ValidationMessage classes="mt-2" :field="produto.validate.preco_venda" />
                        </div>
                        <div class="col-md-12 col-lg-3">
                            <label for="margem_lucro" class="form-label">Margem de Lucro <i class="fa-solid fa-circle-info ms-2"></i></label>
                            <input type="number" ref="margem_lucro" class="form-control" id="margem_lucro" v-model="produto.margem_lucro" placeholder="R$ 00,00">
                        </div>                    
                    </div>
                    <div class="mb-3">
                        <label for="observacao" class="form-label">Observação</label>
                        <textarea class="form-control" id="observacao" v-model="produto.observacao" rows="3"></textarea>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-8">
                            <label for="foto" class="form-label">Foto</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="foto">
                            </div>
                        </div>  
                        <div class="col-md-12 col-lg-4">
                            <label for="comissao_referencia" class="form-label">Comissão do vendedor <i class="fa-solid fa-circle-info ms-2"></i></label>
                            <input type="number" ref="comissao_referencia" class="form-control" id="comissao_referencia" v-model="produto.comissao_referencia" placeholder="Comissão de referência para ser repassada ao vendedor do produto">
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="mb-3 row">
                        <div class="col-md-12">
                            <label for="nome" class="form-label">Nome do Serviço<span class="required">*</span></label>
                            <input type="text" ref="nome" class="form-control" id="nome" v-model="servico.nome" placeholder="Digite o nome do servico" required>
                            <ValidationMessage classes="mt-2" :field="servico.validate.nome" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="observacao" class="form-label">Observação</label>
                        <textarea class="form-control" id="observacao" v-model="produto.observacao" rows="3"></textarea>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-8">
                            <label for="preco" class="form-label">Preço</label>
                            <money3 v-model="servico.preco" v-bind="configMoney" id="preco" class="form-control"/>
                            <ValidationMessage classes="mt-2" :field="servico.validate.preco" />
                        </div>                    
                        <div class="col-md-12 col-lg-4">
                            <label for="duracao_estimada" class="form-label">Duração estimada (em minutos) <span class="required">*</span></label>
                            <input type="number" step="1" min="0" v-model="servico.duracao_estimada" id="duracao_estimada" class="form-control" required/>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12 col-lg-8">
                            <label for="foto" class="form-label">Foto</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="foto">
                            </div>
                        </div>  
                        <div class="col-md-12 col-lg-4">
                            <label for="comissao_referencia" class="form-label">Comissão do atendente <i class="fa-solid fa-circle-info ms-2"></i></label>
                            <input type="number" min="0" ref="comissao_referencia" class="form-control" id="comissao_referencia" v-model="servico.comissao_referencia" placeholder="Comissão de referência para ser repassada ao atendente do serviço">
                        </div>
                    </div>
                </template>
                <div class="mt-3 row">
                    <div class="col-md-2">
                        <router-link to="/produtos" type="button" class="col-12 btn btn-secondary btn-pill"><i class="fa-solid fa-arrow-left"></i> Voltar</router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="col-12 btn btn-primary btn-pill">
                            <i class="fas fa-save"></i> Salvar 
                            <template v-if="tipo ==='produto'">
                                Produto
                            </template>
                            <template v-else>
                                Serviço
                            </template>
                        </button>
                    </div>
                </div>
            </form>
        </PageBody>
    </div>
</template>

<script>
import ValidationMessage from '../../components/elements/ValidationMessage.vue'
import FormHeaderPage from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'
import AutoComplete from '../../components/elements/AutoComplete/AutoComplete.vue'
import {mask} from 'vue-the-mask'

export default {
    components: {
        FormHeaderPage, PageBody, ValidationMessage, AutoComplete
    },
    directives: {mask},
    data() {
        return {
            edit: false,
            tipo: 'produto',
            produto: {
                id: undefined,
                nome: '',
                codigo_barras: '',
                marca_id: '',
                categoria_id: '',
                fornecedor_id: '',
                estoque_minimo: 1,
                estoque_atual: 1,
                preco_compra: 0,
                margem_lucro: 20,
                preco_venda: 0,
                comissao_referencia: 0,
                observacao: '',
                foto: '',
                validate: {
                    nome: '',
                    preco_venda: '',
                }
            },
            servico: {
                id: undefined,
                nome: '',
                preco: 0,
                comissao_referencia: 0,
                duracao_estimada: 30,
                observacao: '',
                foto: '',
                validate: {
                    nome: '',
                    preco: '',
                }
            },
            marcas: {
                data: [],
                loading: false
            },
            categorias: {
                data: [],
                loading: false
            },
            fornecedores: {
                data: [],
                loading: false
            },
            search: {
                marca: '',
                categoria: '',
                fornecedor: ''
            }
        }
    },
    computed: {
        configMoney() {
            return {
                decimal: ",",
                thousands: ".",
                prefix: "R$ ",
                suffix: "",
                precision: 2,
                masked: false /* doesn't work with directive */,
            }
        }
    },
    methods:{
        handleSelect(selectedItem) {
        // Lógica para lidar com o objeto completo selecionado
        console.log('Objeto selecionado:', selectedItem);
        },
        getMarcas(){
            this.marcas.loading = true
            this.axios.get('marca/list')
                .then(response => {
                    this.marcas = {
                        data: response.data.data,
                        loading: false
                    }
                    console.log(this.marcas)
                })
                .catch(err => {
                    this.$toast.error(err.data.message)
                })
        },
        getCategorias(){
            this.axios.get('categoria/list')
                .then(response => {
                    this.categorias = {
                        data: response.data.data,
                        loading: false
                    }
                    console.log(this.categorias)

                })
                .catch(err => {
                    this.$toast.error(err.data.message)
                })
        },
        getFornecedores(){
            this.axios.get('fornecedor/list')
                .then(response => {
                    this.fornecedores = {
                        data: response.data.data,
                        loading: false
                    }
                    console.log(this.fornecedores)

                })
                .catch(err => {
                    this.$toast.error(err.data.message)
                })
        },
        resetProduto(){
            this.produto = {
                nome: '',
                codigo_barras: '',
                marca_id: '',
                categoria_id: '',
                fornecedor_id: '',
                estoque_minimo: 1,
                estoque_atual: 1,
                preco_compra: 0,
                margem_lucro: 20,
                preco_venda: 0,
                comissao_referencia: 0,
                observacao: '',
                foto: '',
                validate: {
                    nome: '',
                    preco_venda: ''
                }
            }
        },
        resetServico(){
            this.servico = {
                id: undefined,
                nome: '',
                preco: 0,
                comissao_referencia: 0,
                duracao_estimada: 30,
                observacao: '',
                foto: '',
                validate: {
                    nome: '',
                    preco: '',
                }
            }
        },
        searchMarcas(input) {
            if (input.length < 1) { return [] }
            return this.marcas.data.filter(marca => {
                return marca.toLowerCase().startsWith(input.toLowerCase())
            })
        },
        submitServico(){
            if(this.validateServico()){
                let _url = this.servico.id !== undefined ? `servico/${this.servico.id}/edit` : `servico/create`
                this.axios.post(_url, {...this.servico})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.servico.id === undefined){
                            this.resetServico()
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        submitProduto(){
            if(this.validateProduto()){
                let _url = this.produto.id !== undefined ? `produto/${this.produto.id}/edit` : `produto/create`
                this.axios.post(_url, {...this.produto})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.produto.id === undefined){
                            this.resetProduto()
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        onSubmit(){
            if(this.tipo === 'produto'){
                this.submitProduto()
            }else{
                this.submitServico()
            }
        },
        validateProduto(){
            this.clearValidateProduto()
            if(!this.produto.nome){
                this.produto.validate.nome = 'Necessário informar um nome para o produto'
                this.$refs.nome.focus()
                return false
            }else if(!this.produto.preco_venda){
                this.produto.validate.preco_venda = 'Necessário informar um preço de venda para o produto'
                this.$refs.preco_venda.focus()
                return false
            }
            return true
        },
        validateServico(){
            this.clearValidateServico()
            if(!this.servico.nome){
                this.servico.validate.nome = 'Necessário informar um nome para o serviço'
                this.$refs.nome.focus()
            }
            else if(!this.servico.preco){
                this.servico.validate.preco = 'Necessário informar um preço para o serviço'
                this.$refs.preco.focus()
            }
        },
        clearValidateProduto(){
            this.produto.validate = {
                nome: '',
                preco_venda: ''
            }
        },
        clearValidateServico(){
            this.servico.validate = {
                nome: '',
                preco: ''
            }
        }
    },
    mounted(){
        this.getMarcas()
        this.getCategorias()
        this.getFornecedores()

        const id = this.$route.params.id
        const tipo = this.$route.params.tipo
        
        if(tipo != undefined && tipo != null){
            this.tipo = tipo
            if(id != undefined && id != null){
                this.edit = true
                if(tipo === 'produto'){
                    this.axios.get(`/produto/${id}`)
                        .then(response => {
                            this.produto = {
                                ...response.data.data, 
                                validate: {
                                    nome: '',
                                    preco_venda: ''
                                }
                            }
                        })
                        .catch(err => {this.$toast.error(err.response.data.message)})                    
                }else{
                    this.axios.get(`/servico/${id}`)
                        .then(response => {
                            this.servico = {
                                ...response.data.data, 
                                validate: {
                                    nome: '',
                                    preco: ''
                                }
                            }
                        })
                        .catch(err => {this.$toast.error(err.response.data.message)})
                }
            }
        }
    }
}
</script>

<style>
    .required{
        color: rgb(134, 16, 16);
        font-weight: bold;
    }
    .tipo-insercao{
        background: #eee;
        border-radius: 9px;
        padding: .5em;
    }
</style>