<template>
    <div>
        <div class="autocomplete-suggestions-input-group input-group" ref="inputGroup">
            <input
                type="text"
                :value="modelValue"
                @input="handleInput"
                @keydown="handleKeyDown"
                @focus="handleFocus"
                @blur="handleBlur"
                class="form-control"
                :disabled="!source.length"
                :placeholder="getPlaceholder()"
            />
            <template v-if="source?.length">
                <button type="button" class="btn btn-success" @click="handleOpen">
                    <span v-if="isOpen">
                        <i class="fa-solid fa-chevron-up"></i>
                    </span>
                    <span v-else>
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </button>
            </template>
            <template v-else>
                <button type="button" class="btn btn-success" disabled>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </template>
        </div>
        <ul class="autocomplete-suggestions" v-if="isOpen && (searchResults.length || modelValue)">
            <li
                v-for="(result, index) in searchResults"
                :key="result[idAttribute]"
                @click="setSelected(result)"
                :class="{ 'selected': index === selectedIndex }"
            >
                {{ result[labelAttribute] }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        source: {
            type: Array,
            required: true,
            default: () => [],
        },
        modelValue: String,
        placeholder: String, 
        labelAttribute: {
            type: String,
            default: 'name', // Atributo para a label
        },
        idAttribute: {
            type: String,
            default: 'id', // Atributo para o valor
        },
        allowCreate: {
            type: Boolean,
            default: false, // Indica se a criação de um novo elemento é permitida
        },
    },
    emits: ['update:modelValue', 'select'],
    data() {
        return {
            search: '',
            isOpen: false,
            forceOpen: false,
            selectedIndex: -1,
            isTabPressed: false
        };
    },
    computed: {
        searchResults() {
            if (this.search.length) {
                return this.source.filter((result) =>
                    result[this.labelAttribute].toLowerCase().includes(this.search.toLowerCase())
                );
            }
            return this.source;
        },
    },
    methods: {
        getPlaceholder() {
            if (this.placeholder) {
                return this.placeholder;
            }
            if (!this.source.length) {
                return 'Nenhum item disponível';
            }
        },
        setSelected(item) {
            this.isOpen = false;
            this.search = item[this.labelAttribute];
            this.$emit('update:modelValue', item[this.labelAttribute]);
            this.$emit('select', this.createResultObject(item)); // Emitindo o objeto inteiro selecionado
        },
        createResultObject(item) {
            // Cria um objeto com o mesmo label e id definido como nulo apenas se o item não estiver na lista original
            const isInSource = this.source.some(sourceItem => sourceItem[this.idAttribute] === item[this.idAttribute]);
            return {
                [this.labelAttribute]: item[this.labelAttribute],
                [this.idAttribute]: isInSource ? item[this.idAttribute] : null,
            };
        },
        handleInput(e) {
            this.isOpen = true;
            this.search = e.target.value;
            this.$emit('update:modelValue', this.search);
            this.selectedIndex = -1; // Reset selectedIndex when typing
        },
        handleOpen() {
            this.isOpen = !this.isOpen;
            this.selectedIndex = -1; // Reset selectedIndex when opening/closing
        },
        handleKeyDown(e) {
            if (this.isOpen) {
                switch (e.key) {
                    case 'ArrowUp':
                        e.preventDefault();
                        this.navigate(-1);
                        break;
                    case 'ArrowDown':
                        e.preventDefault();
                        this.navigate(1);
                        break;
                    case 'Enter':
                        if (this.selectedIndex !== -1) {
                        e.preventDefault();
                        this.setSelected(this.searchResults[this.selectedIndex]);
                        }
                        break;
                }
            }
        },
        navigate(direction) {
            const maxIndex = this.searchResults.length - 1;
            this.selectedIndex = Math.max(
                Math.min(this.selectedIndex + direction, maxIndex),
                0
            );
        },
        handleClickOutside(event) {
            const isIconClick = event.target.closest('.fa-chevron-up, .fa-chevron-down');
            if (!this.$refs.inputGroup.contains(event.target) && !isIconClick) {
                this.isOpen = false;
            }
        },
        handleFocus() {
            // Abre o menu quando o input recebe o foco
            this.handleOpen();
        },
        handleBlur() {
            setTimeout(() => {
                // Se a criação de um novo elemento não listado for permitida, emite o que foi digitado no evento select, caso contrário, reseta o modelo
                if (this.allowCreate) {
                    this.$emit('select', this.createResultObject({ [this.labelAttribute]: this.modelValue }));
                } else {
                    this.autoSelectSingleResult();
                }
            }, 0);
        },
        autoSelectSingleResult() {
            // Se houver apenas um resultado na pesquisa, seleciona automaticamente
            if (this.searchResults.length === 1) {
                this.setSelected(this.searchResults[0]);
            } else {
                // Se nenhum item da lista foi selecionado, limpa o input
                this.search = '';
                this.$emit('update:modelValue', this.search);
            }
        },
        handleTabPress() {
            // Marca que o botão tab foi pressionado para ajustar o comportamento do onBlur
            this.isTabPressed = true;
        },
        handleTabRelease() {
            // Marca que o botão tab foi liberado
            this.isTabPressed = false;
        },
    },
    mounted() {
        document.body.addEventListener('click', this.handleClickOutside);
        document.body.addEventListener('keydown', this.handleTabPress);
        document.body.addEventListener('keyup', this.handleTabRelease);
    },
    beforeUnmount() {
        document.body.removeEventListener('click', this.handleClickOutside);
        document.body.removeEventListener('keydown', this.handleTabPress);
        document.body.removeEventListener('keyup', this.handleTabRelease);
    }
}
</script>

<style scoped>
.autocomplete-suggestions-input-group {
    position: relative;
    z-index: 11;
}

.autocomplete-suggestions {
    position: absolute;
    width: calc(100% - 1.5rem);
    border: 1px solid #d1d3e2;
    border-radius: 0 0 6px 6px;
    margin: -4px 0 0 0;
    padding: 5px 0 0 0;
    z-index: 10;
    background: #fff;
}

.autocomplete-suggestions li {
    list-style: none;
    padding: 2px 10px;
    cursor: pointer;
}

.autocomplete-suggestions li:hover,
.autocomplete-suggestions li.selected {
    background: #f1f1f1;
}
</style>
