<template>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header" v-if="title">
                <h5 class="modal-title" id="modalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div v-html="body"></div>
            </div>
            <div class="modal-footer" v-if="footer">
                <button v-if="footer.dismiss" type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="$emit('modalDismissed')">{{footer.dismiss}}</button>
                <button v-if="footer.accept" type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="$emit('modalAccepted')"><i v-if="footer.acceptIcon" :class="footer.acceptIcon" class="mr-3"></i>{{footer.accept}}</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    emits: ['modalDismissed', 'modalAccepted'],
    props: ['title', 'body', 'footer']
}
</script>

<style>

</style>