<template>
    <div class="row">
        <Card classes="col-md-6" title="Contas" />
        <Card classes="col-md-6 col-sm-12" title="Cartões de crédito" />
    </div>
</template>

<script>
import Card from './../../components/elements/Card.vue'
export default {
    components: {
        Card
    }
}
</script>

<style>

</style>