@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Roboto:wght@400;500;700&display=swap');


:root{
    --primary-color: #c29a91;
    --primary-color-dark: #a17c74;
    --secondary-color: #ffe3dc;
    --secondary-color-dark: #d3b3ab;
    --success-color: #a2ad91;
    --success-color-dark: #889475;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}
.btn-pill{
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.button-circle{
    border-radius: 50%;
    width: 56px; 
    height: 56px; 
    font-size: 42px;
}
.small-rounded-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35px; 
    height: 35px; 
    border-radius:50%;
}
.warning-tooltip {--bs-tooltip-bg: var(--bs-warning) !important;}
.warning-tooltip .tooltip-inner{background: var(--bs-warning) !important;}
.success-tooltip {--bs-tooltip-bg: var(--bs-success) !important;}
.success-tooltip .tooltip-inner{background: var(--bs-sucess) !important;}
.text-white {
    color: #fff !important;
}
.text-primary {
    color: var(--primary-color) !important;
}
a.text-primary:focus,
a.text-primary:hover {
    color: var(--primary-color-dark) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
a.text-secondary:focus,
a.text-secondary:hover {
    color: var(--secondary-color-dark) !important;
}
.text-success {
    color: var(--success-color) !important;
}
a.text-success:focus,
a.text-success:hover {
    color: #69725c !important;
}
.text-info {
    color: #36b9cc !important;
}
a.text-info:focus,
a.text-info:hover {
    color: #258391 !important;
}
.text-warning {
    color: #f6c23e !important;
}
a.text-warning:focus,
a.text-warning:hover {
    color: #dda20a !important;
}
.text-danger {
    color: #e74a3b !important;
}
a.text-danger:focus,
a.text-danger:hover {
    color: #be2617 !important;
}
.text-light {
    color: #f8f9fc !important;
}
a.text-light:focus,
a.text-light:hover {
    color: #c2cbe5 !important;
}
.text-dark {
    color: #5a5c69 !important;
}
a.text-dark:focus,
a.text-dark:hover {
    color: #373840 !important;
}
.text-body {
    color: #858796 !important;
}
.text-muted {
    color: #858796 !important;
}
.text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
}
.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}
.bg-gradient-primary {
    background-color: var(--primary-color);
    background-image: linear-gradient(224deg, var(--primary-color) 10%, #aa857d 100%);
    background-size: cover;
}
.bg-gradient-secondary {
    background-color: var(--secondary-color);
    background-image: linear-gradient(180deg, var(--secondary-color) 10%, var(--secondary-color-dark) 100%);
    background-size: cover;
}
.bg-gradient-success {
    background-color: var(--success-color);
    background-image: linear-gradient(180deg, var(--success-color) 10%, var(--success-color-dark) 100%);
    background-size: cover;
}
.bg-gradient-info {
    background-color: #36b9cc;
    background-image: linear-gradient(180deg, #36b9cc 10%, #258391 100%);
    background-size: cover;
}
.bg-gradient-warning {
    background-color: #f6c23e;
    background-image: linear-gradient(180deg, #f6c23e 10%, #dda20a 100%);
    background-size: cover;
}
.bg-gradient-danger {
    background-color: #e74a3b;
    background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
    background-size: cover;
}
.bg-gradient-light {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg, #f8f9fc 10%, #c2cbe5 100%);
    background-size: cover;
}
.bg-gradient-dark {
    background-color: #5a5c69;
    background-image: linear-gradient(180deg, #5a5c69 10%, #373840 100%);
    background-size: cover;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: var(--primary-color-dark) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
    background-color: var(--secondary-color-dark) !important;
}
Zz.bg-success {
    background-color: var(--success-color) !important;
}
a.bg-success:focus,
a.bg-success:hover,
button.bg-success:focus,
button.bg-success:hover {
    background-color: var(--success-color-dark) !important;
}
.bg-info {
    background-color: #36b9cc !important;
}
a.bg-info:focus,
a.bg-info:hover,
button.bg-info:focus,
button.bg-info:hover {
    background-color: #2a96a5 !important;
}
.bg-warning {
    background-color: #f6c23e !important;
}
a.bg-warning:focus,
a.bg-warning:hover,
button.bg-warning:focus,
button.bg-warning:hover {
    background-color: #f4b30d !important;
}
.bg-danger {
    background-color: #e74a3b !important;
}
a.bg-danger:focus,
a.bg-danger:hover,
button.bg-danger:focus,
button.bg-danger:hover {
    background-color: #d52a1a !important;
}
.bg-light {
    background-color: #ebebeb !important;
}
a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
    background-color: #d4daed !important;
}
.bg-dark {
    background-color: #5a5c69 !important;
}
a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
    background-color: #42444e !important;
}
.bg-white {
    background-color: #fff !important;
}
.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    color: #fff;
    background-color: #aa857d;
    border-color: #aa857d;
}
.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #a07e76;
    border-color: #a07e76;
    box-shadow: 0 0 0 0.2rem #a07e7680;
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #c5a59d;
    border-color: #c5a59d;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #a07e7680;
}
.btn-secondary {
    color: #47312c;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-secondary:hover {
    color: #47312c;
    background-color: var(--secondary-color-dark);
    border-color: var(--secondary-color-dark);
}
.btn-secondary.focus,
.btn-secondary:focus {
    color: #47312c;
    background-color: var(--secondary-color-dark);
    border-color: var(--secondary-color-dark);
    box-shadow: 0 0 0 0.2rem var(--secondary-color-dark);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #47312c;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #47312c;
    background-color: var(--secondary-color);
    border-color: #d3b3ab;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}
.btn-success {
    color: #fff;
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.btn-success:hover {
    color: #fff;
    background-color: var(--success-color-dark);
    border-color: var(--success-color-dark);
}
.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: var(--success-color-dark);
    border-color: var(--success-color-dark);
    box-shadow: 0 0 0 0.2rem var(--success-color-dark);
}
.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: var(--success-color-dark);
    border-color: var(--success-color-dark);
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--success-color-dark);
}
.btn-info {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}
.btn-info:hover {
    color: #fff;
    background-color: #2c9faf;
    border-color: #2a96a5;
}
.btn-info.focus,
.btn-info:focus {
    color: #fff;
    background-color: #2c9faf;
    border-color: #2a96a5;
    box-shadow: 0 0 0 0.2rem rgba(84, 196, 212, 0.5);
}
.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #2a96a5;
    border-color: #278c9b;
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(84, 196, 212, 0.5);
}
.btn-warning {
    color: #fff;
    background-color: #f6c23e;
    border-color: #f6c23e;
}
.btn-warning:hover {
    color: #fff;
    background-color: #f4b619;
    border-color: #f4b30d;
}
.btn-warning.focus,
.btn-warning:focus {
    color: #fff;
    background-color: #f4b619;
    border-color: #f4b30d;
    box-shadow: 0 0 0 0.2rem rgba(247, 203, 91, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
    color: #fff;
    background-color: #f6c23e;
    border-color: #f6c23e;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #f4b30d;
    border-color: #e9aa0b;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(247, 203, 91, 0.5);
}
.btn-danger {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}
.btn-danger:hover {
    color: #fff;
    background-color: #e02d1b;
    border-color: #d52a1a;
}
.btn-danger.focus,
.btn-danger:focus {
    color: #fff;
    background-color: #e02d1b;
    border-color: #d52a1a;
    box-shadow: 0 0 0 0.2rem rgba(235, 101, 88, 0.5);
}
.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #d52a1a;
    border-color: #ca2819;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(235, 101, 88, 0.5);
}
.btn-light {
    color: #3a3b45;
    background-color: #f8f9fc;
    border-color: #f8f9fc;
}
.btn-light:hover {
    color: #3a3b45;
    background-color: #dde2f1;
    border-color: #d4daed;
}
.btn-light.focus,
.btn-light:focus {
    color: #3a3b45;
    background-color: #dde2f1;
    border-color: #d4daed;
    box-shadow: 0 0 0 0.2rem rgba(220, 221, 225, 0.5);
}
.btn-light.disabled,
.btn-light:disabled {
    color: #3a3b45;
    background-color: #f8f9fc;
    border-color: #f8f9fc;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    color: #3a3b45;
    background-color: #d4daed;
    border-color: #cbd3e9;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 221, 225, 0.5);
}
.btn-dark {
    color: #fff;
    background-color: #5a5c69;
    border-color: #5a5c69;
}
.btn-dark:hover {
    color: #fff;
    background-color: #484a54;
    border-color: #42444e;
}
.btn-dark.focus,
.btn-dark:focus {
    color: #fff;
    background-color: #484a54;
    border-color: #42444e;
    box-shadow: 0 0 0 0.2rem rgba(115, 116, 128, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #5a5c69;
    border-color: #5a5c69;
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #42444e;
    border-color: #3d3e47;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(115, 116, 128, 0.5);
}
.btn-outline-primary {
    color: #4e73df;
    border-color: #4e73df;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #4e73df;
    background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.5);
}
.btn-outline-secondary {
    color: #858796;
    border-color: #858796;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #858796;
    border-color: #858796;
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 135, 150, 0.5);
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #858796;
    background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #858796;
    border-color: #858796;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 135, 150, 0.5);
}
.btn-outline-success {
    color: #1cc88a;
    border-color: #1cc88a;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}
.btn-outline-success.focus,
.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #1cc88a;
    background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
}
.btn-outline-info {
    color: #36b9cc;
    border-color: #36b9cc;
}
.btn-outline-info:hover {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}
.btn-outline-info.focus,
.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 185, 204, 0.5);
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #36b9cc;
    background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 185, 204, 0.5);
}
.btn-outline-warning {
    color: #f6c23e;
    border-color: #f6c23e;
}
.btn-outline-warning:hover {
    color: #fff;
    background-color: #f6c23e;
    border-color: #f6c23e;
}
.btn-outline-warning.focus,
.btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 194, 62, 0.5);
}
.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #f6c23e;
    background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #fff;
    background-color: #f6c23e;
    border-color: #f6c23e;
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(246, 194, 62, 0.5);
}
.btn-outline-danger {
    color: #e74a3b;
    border-color: #e74a3b;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}
.btn-outline-danger.focus,
.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 74, 59, 0.5);
}
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #e74a3b;
    background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 74, 59, 0.5);
}
.btn-outline-light {
    color: #f8f9fc;
    border-color: #f8f9fc;
}
.btn-outline-light:hover {
    color: #3a3b45;
    background-color: #f8f9fc;
    border-color: #f8f9fc;
}
.btn-outline-light.focus,
.btn-outline-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 252, 0.5);
}
.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #f8f9fc;
    background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
    color: #3a3b45;
    background-color: #f8f9fc;
    border-color: #f8f9fc;
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 252, 0.5);
}
.btn-outline-dark {
    color: #5a5c69;
    border-color: #5a5c69;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #5a5c69;
    border-color: #5a5c69;
}
.btn-outline-dark.focus,
.btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(90, 92, 105, 0.5);
}
.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #5a5c69;
    background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #5a5c69;
    border-color: #5a5c69;
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(90, 92, 105, 0.5);
}
.btn-link {
    font-weight: 400;
    color: #4e73df;
    text-decoration: none;
}
.btn-link:hover {
    color: #224abe;
    text-decoration: underline;
}