<template>
    <div id="wrapper">
        <Sidebar />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <Nav />
                <div class="container-fluid">
                    <slot></slot>
                </div>
            </div>
            <Footer />
        </div>        
    </div>
</template>

<script>
import Nav from './Nav.vue'
import Sidebar from './Sidebar.vue'
import Footer from './Footer.vue'

export default {
    components: {
        Nav, Sidebar, Footer
    }
}
</script>

<style>

</style>