<template>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-between">
        <Search />
        
        <router-link to="/" class="btn btn-primary mr-3">
            <i class="fa-regular fa-calendar-days me-2"></i> Agendar
        </router-link>

        <router-link to="/" class="btn btn-primary mr-3">
            <i class="fa-solid fa-clipboard-check me-2"></i> Atendimento
        </router-link>

        <router-link to="/" class="btn btn-primary mr-3">
            <i class="fa-solid fa-dollar-sign me-2"></i> Venda
        </router-link>
    </nav>
</template>

<script>
import Search from './Search.vue'

export default {
    components: {
        Search
    }
}
</script>

<style>

</style>