<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion position-relative" id="accordionSidebar">
        <router-link class="sidebar-brand d-flex align-items-center justify-content-center" to="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <img src="@/assets/img/dollar.png" class="img-fluid">
            </div>
            <div class="sidebar-brand-text mx-3">Controlar</div>
        </router-link>

        <hr class="sidebar-divider">

        <li v-for="item in menu" :key="item.label" class="nav-item">
            <router-link class="nav-link w-100" :to="item.link">
                <i :class="item.icon" class="mr-2"></i>
                <span>{{item.label}}</span>
            </router-link>
        </li>

        <router-link to="/sobre" class="text-center" style="position: absolute; bottom: 1em; color: #fff; width:100%;"> 
            <i class="fas fa-info mr-2"></i> Sobre
        </router-link>
    </ul>
</template>

<script>
import './styles/sidebar.css'

export default {
    data(){
        return {
            menu: [
                {label: 'Dashboard', icon: 'fa-solid fa-chart-pie', link:'/'},
                {label: 'Clientes', icon: 'fa-solid fa-user', link:'/cliente'},
                {label: 'Fornecedores', icon: 'fa-solid fa-boxes-stacked', link:'/fornecedor'},
                {label: 'Atendentes', icon: 'fa-solid fa-user-gear', link:'/atendentes'},
                {label: 'Marcas', icon: 'fa-solid fa-copyright', link:'/marcas'},
                {label: 'Categorias', icon: 'fa-solid fa-layer-group', link:'/categorias'},
                {label: 'Formas de Pagamento', icon: 'fa-solid fa-money-bill', link:'/formasPagamento'},
                {label: 'Produtos e Serviços', icon: 'fa-solid fa-boxes-stacked', link:'/produtos'},
                {label: 'Atendimentos', icon: 'fa-solid fa-clipboard-check', link:'/atendimentos'},
            ]
        }
    }
}
</script>

<style>

</style>