<template>
    <div>
        <FormHeaderPage title="Clientes" />
        <PageBody>
            <form @submit.prevent="onSubmit">
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-10">
                        <label for="nome" class="form-label">Nome do Cliente <span class="required">*</span></label>
                        <input type="text" ref="nome" class="form-control" id="nome" v-model="cliente.nome" placeholder="Digite o nome do cliente" required>
                        <ValidationMessage classes="mt-2" :field="cliente.validate.nome" />
                    </div>
                    <div class="col-md-12 col-lg-2">
                        <label for="nome" class="form-label">Gênero</label>
                        <select v-model="cliente.genero" class="form-select">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-6">
                        <label for="telefone" class="form-label">Telefone <span class="required">*</span></label>
                        <input type="text" ref="telefone" class="form-control" id="telefone" v-mask="['(##) #####-####','(##) ####-####']" v-model="cliente.telefone" placeholder="Telefone" required>
                        <ValidationMessage classes="mt-2" :field="cliente.validate.telefone" />
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" ref="email" class="form-control" id="email" v-model="cliente.email" placeholder="E-mail">
                    </div>                    
                </div>
                <div class="mb-3">
                    <label for="endereco" class="form-label">Endereço</label>
                    <input type="text" ref="endereco" class="form-control" id="endereco" v-model="cliente.endereco" placeholder="Endereço">
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-8">
                        <label for="foto" class="form-label">Foto</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="foto">
                        </div>
                    </div>  
                    <div class="col-md-12 col-lg-4">
                        <label for="data_nascimento" class="form-label">Data de Nascimento</label>
                        <input type="date" ref="data_nascimento" class="form-control" id="data_nascimento" v-model="cliente.data_nascimento" placeholder="Data de Nascimento">
                    </div>
                </div>

                <div class="mt-3 row">
                    <div class="col-md-2">
                        <router-link to="/cliente" type="button" class="col-12 btn btn-secondary btn-pill"><i class="fa-solid fa-arrow-left"></i> Voltar</router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="col-12 btn btn-primary btn-pill"><i class="fas fa-save"></i> Salvar</button>
                    </div>
                </div>
            </form>
        </PageBody>
    </div>
</template>

<script>
import ValidationMessage from '../../components/elements/ValidationMessage.vue'
import FormHeaderPage from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'
import {mask} from 'vue-the-mask'

export default {
    components: {
        FormHeaderPage, PageBody, ValidationMessage
    },
    directives: {mask},
    data() {
        return {
            cliente: {
                id: undefined,
                nome: '',
                genero: '',
                endereco: '',
                data_nascimento: '',
                telefone: '',
                email: '',
                foto: '',
                validate: {
                    nome: '',
                    telefone: ''
                }
            },
        }
    },
    methods:{
        onSubmit(){
            if(this.validate()){
                let _url = this.cliente.id !== undefined ? `cliente/${this.cliente.id}/edit` : `cliente/create`
                this.axios.post(_url, {...this.cliente})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.cliente.id === undefined){
                            this.cliente = {
                                nome: '',
                                genero: '',
                                endereco: '',
                                data_nascimento: '',
                                telefone: '',
                                email: '',
                                foto: '',
                                validate: {
                                    nome: '',
                                    telefone: ''
                                }
                            }
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        validate(){
            this.clearValidate()
            if(!this.cliente.nome){
                this.cliente.validate.nome = 'Necessário informar um nome para o cliente'
                this.$refs.nome.focus()
                return false
            }else if(!this.cliente.telefone){
                this.cliente.validate.telefone = 'Necessário informar um telefone para o cliente'
                this.$refs.telefone.focus()
                return false
            }
            return true
        },
        clearValidate(){
            this.cliente.validate = {
                nome: '',
                telefone: ''
            }
        }
    },
    mounted(){
        const id = this.$route.params.id
        if(id != undefined && id != null){
            this.axios.get(`/cliente/${id}`)
                .then(response => {
                    this.cliente = {
                        ...response.data.data, 
                        validate: {
                            nome: '',
                            telefone: ''
                        }
                    }
                })
                .catch(err => {this.$toast.error(err.response.data.message)})
        }
    }
}
</script>

<style>
    .required{
        color: rgb(134, 16, 16);
        font-weight: bold;
    }
</style>