<template>
    <div>
        <FormHeaderPage title="Contas" />
        <PageBody>
            <form @submit.prevent="onSubmit">
                <div class="mb-3">
                    <label for="limite" class="form-label">Nome da Conta</label>
                    <input type="text" ref="nomeConta" class="form-control" id="cartao-nome" v-model="conta.nome" placeholder="Digite o nome do cartão">
                    <ValidationMessage classes="mt-2" :field="conta.validate.nome" />
                </div>
                <div class="mb-3">
                    <label for="cartao-nome" class="form-label">Banco</label>
                    <select v-model="conta.id_banco" class="form-select">
                        <option v-for="banco in bancos" :key="banco.id" :value="banco.id">{{`${banco.codigo} - ${banco.nome}`}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="limite" class="form-label">Saldo Inicial</label>
                    <money3 v-model="conta.saldo_inicial" v-bind="config" id="limite" class="form-control"/>
                </div>

                <div class="mt-3 row">
                    <div class="col-md-2">
                        <router-link to="/conta" type="button" class="col-12 btn btn-secondary btn-pill"><i class="fa-solid fa-arrow-left"></i> Voltar</router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="col-12 btn btn-primary btn-pill"><i class="fas fa-save"></i> Salvar</button>
                    </div>
                </div>
            </form>
        </PageBody>
    </div>
</template>

<script>
import ValidationMessage from '../../components/elements/ValidationMessage.vue'
import FormHeaderPage from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'

export default {
    components: {
        FormHeaderPage, PageBody, ValidationMessage
    },
    data() {
        return {
            conta: {
                id: undefined,
                nome: '',
                id_banco: '',
                saldo_inicial: "0.00",
                validate: {
                    nome: '',
                    id_banco: ''
                }
            },
            bancos: null
        }
    },
    computed: {
        config() {
            return {
                decimal: ",",
                thousands: ".",
                prefix: "R$ ",
                suffix: "",
                precision: 2,
                masked: false /* doesn't work with directive */,
            }
        }
    },
    methods:{
        onSubmit(){
            if(this.validate()){
                let _url = this.conta.id !== undefined ? `conta/${this.conta.id}/edit` : `conta/create`
                this.axios.post(_url, {...this.conta})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.conta.id === undefined){
                            this.conta = {
                                nome: '',
                                id_banco: '',
                                saldo_inicial: "0.00",
                                validate: {
                                    nome: '',
                                    id_banco: ''
                                }
                            }
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        validate(){
            this.clearValidate()
            if(!this.conta.nome){
                this.conta.validate.nome = 'Necessário informar um nome para a conta'
                this.$refs.nomeConta.focus()
                return false
            }
            return true
        },
        clearValidate(){
            this.conta.validate = {
                nome: '',
                id_banco: ''
            }
        }
    },
    mounted(){
        const id = this.$route.params.id
        this.axios.get('/banco/list')
            .then(response => this.bancos = response.data.data)
        if(id != undefined && id != null){
            this.axios.get(`/conta/${id}`)
                .then(response => {
                    this.conta = {
                        ...response.data.data, 
                        validate: {
                            nome: '', 
                            id_banco: ''
                        }
                    }
                })
                .catch(err => {this.$toast.error(err.response.data.message)})
        }
    }
}
</script>

<style>

</style>