<template>
    <div>
        <HeaderPage title="Contas">
            <router-link to="/conta/new" class="btn btn-primary d-flex justify-content-center align-items-center shadow-sm" style="border-radius: 50%;width: 56px; height: 56px; font-size: 42px;">
                <i class="fas fa-add"></i>
            </router-link>
        </HeaderPage>
        <PageBody>
            <div class="d-flex justify-content-center align-items-center" style="min-height:40vh" v-if="loading || !list.length">
                <CircularLoading v-if="loading" />
                <p v-if="!loading && !list.length">
                    <i>Ainda não há contas cadastradas</i>
                </p>
            </div>
            <template v-if="!loading && list.length">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in list" :key="item.id">
                        <div>
                            <div>{{item.nome}}</div>
                            <div>{{item.id_banco}}</div>
                            <div>R$ {{item.saldo_inicial}}</div>
                        </div>
                        <div class="actions d-flex">
                            <router-link :to="`/conta/edit/${item.id}`" class="small-rounded-button cursor-pointer mr-2">
                                <i class="fa-solid fa-pencil text-success"></i>
                            </router-link>
                            <ModalCall @click="selectedConta=item">
                                <div class="small-rounded-button cursor-pointer">
                                    <i class="fa-solid fa-trash text-danger"></i>
                                </div>
                            </ModalCall>
                        </div>
                    </li>
                </ul>
            </template>
        </PageBody>

        <Modal :title="modal.title" :body="modal.text" :footer="modal.footer" @modalAccepted="excluirConta"/>
    </div>
</template>

<script>
import HeaderPage from './../../components/elements/PageHeader.vue'
import PageBody from './../../components/elements/PageBody.vue'
import CircularLoading from './../../components/elements/CircularLoading.vue'
import Modal from '../../components/elements/Modal/Modal.vue'
import ModalCall from '../../components/elements/Modal/ModalCall.vue'

export default {
    components: {
        HeaderPage, PageBody, CircularLoading, Modal, ModalCall
    },
    data(){
        return{
            selectedConta: undefined,
            loading: true,
            modal: {
                title: `Apagar Conta`,
                text: ``,
                footer: {
                    dismiss: "Entendido",
                    accept: "Excluir",
                    acceptIcon: "fa-solid fa-trash"
                }
            },
            list: undefined
        }
    },
    watch: {
        selectedConta(){
            this.modal.text = `            
                <p>Você tem certeza que deseja apagar a conta <b>${this.selectedConta.nome}</b>?</p>
                <p>Caso você já tenha usado esta conta em um lançamento ela será inativada, de modo que os lançamentos já registrados nesta conta não serão afetados. Entretanto, não será possível realizar novos lançamentos nela.</p>    
            `
        }
    },
    methods: {
        excluirConta(){
            this.axios.post(`conta/${this.selectedConta.id}/delete`)
                .then(response => {
                    this.list = response.data.data
                    this.$toast.success(response.data.message)
                })
                .catch(err => this.$toast.error(err.response.data.message))
        }
    },
    async mounted() {
        this.axios.get('conta/list')
            .then(response => {
                this.list = response.data.data
                this.loading = false
            })
            .catch(err => {
                this.$toast.error(err.data.message)
            })
    }
}
</script>