<template>
    <div>
        <FormHeaderPage title="Atendentes" />
        <PageBody>
            <form @submit.prevent="onSubmit">
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-8">
                        <label for="nome" class="form-label">Nome do Atendente <span class="required">*</span></label>
                        <input type="text" ref="nome" class="form-control" id="nome" v-model="atendente.nome" placeholder="Digite o nome do atendente" required>
                        <ValidationMessage classes="mt-2" :field="atendente.validate.nome" />
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" ref="cpf" class="form-control" id="cpf" v-mask="'###.###.###-##'" v-model="atendente.cpf" placeholder="CPF">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-6">
                        <label for="telefone" class="form-label">Telefone <span class="required">*</span></label>
                        <input type="text" ref="telefone" class="form-control" id="telefone" v-mask="['(##) #####-####','(##) ####-####']" v-model="atendente.telefone" placeholder="Telefone" required>
                        <ValidationMessage classes="mt-2" :field="atendente.validate.telefone" />
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" ref="email" class="form-control" id="email" v-model="atendente.email" placeholder="E-mail">
                    </div>                    
                </div>
                <div class="mb-3">
                    <label for="especialidade" class="form-label">Especialidades</label>
                    <textarea class="form-control" id="especialidade" v-model="atendente.especialidade" rows="3"></textarea>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-8">
                        <label for="foto" class="form-label">Foto</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="foto">
                        </div>
                    </div>  
                    <div class="col-md-12 col-lg-4">
                        <label for="data_nascimento" class="form-label">Data de Nascimento</label>
                        <input type="date" ref="data_nascimento" class="form-control" id="data_nascimento" v-model="atendente.data_nascimento" placeholder="Data de Nascimento">
                    </div>
                </div>

                <div class="mt-3 row">
                    <div class="col-md-2">
                        <router-link to="/atendentes" type="button" class="col-12 btn btn-secondary btn-pill"><i class="fa-solid fa-arrow-left"></i> Voltar</router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="col-12 btn btn-primary btn-pill"><i class="fas fa-save"></i> Salvar</button>
                    </div>
                </div>
            </form>
        </PageBody>
    </div>
</template>

<script>
import ValidationMessage from '../../components/elements/ValidationMessage.vue'
import FormHeaderPage from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'
import {mask} from 'vue-the-mask'

export default {
    components: {
        FormHeaderPage, PageBody, ValidationMessage
    },
    directives: {mask},
    data() {
        return {
            atendente: {
                id: undefined,
                nome: '',
                cpf: '',
                email: '',
                telefone: '',
                foto: '',
                especialidade: '',
                validate: {
                    nome: '',
                    telefone: ''
                }
            },
        }
    },
    methods:{
        onSubmit(){
            if(this.validate()){
                let _url = this.atendente.id !== undefined ? `atendente/${this.atendente.id}/edit` : `atendente/create`
                this.axios.post(_url, {...this.atendente})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.atendente.id === undefined){
                            this.atendente = {
                                nome: '',
                                cpf: '',
                                email: '',
                                telefone: '',
                                foto: '',
                                especialidade: '',
                                validate: {
                                    nome: '',
                                    telefone: ''
                                }
                            }
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        validate(){
            this.clearValidate()
            if(!this.atendente.nome){
                this.atendente.validate.nome = 'Necessário informar um nome para o atendente'
                this.$refs.nome.focus()
                return false
            }else if(!this.atendente.telefone){
                this.atendente.validate.telefone = 'Necessário informar um endereço para o atendente'
                this.$refs.telefone.focus()
                return false
            }
            return true
        },
        clearValidate(){
            this.atendente.validate = {
                nome: '',
                telefone: ''
            }
        }
    },
    mounted(){
        const id = this.$route.params.id
        if(id != undefined && id != null){
            this.axios.get(`/atendente/${id}`)
                .then(response => {
                    this.atendente = {
                        ...response.data.data, 
                        validate: {
                            nome: '',
                            telefone: ''
                        }
                    }
                })
                .catch(err => {this.$toast.error(err.response.data.message)})
        }
    }
}
</script>

<style>
    .required{
        color: rgb(134, 16, 16);
        font-weight: bold;
    }
</style>