<template>
    <FormPageHeader title="Sobre"/>
    <PageBody>
      O sistema foi desenvolvido por MasterCode.
      <p>Versão: 1.0.0</p>
    </PageBody>
</template>

<script>
import FormPageHeader from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'

export default {
  components: { FormPageHeader, PageBody },

}
</script>

<style>

</style>