<template>
    <div :class="classes">
        <div class="card shadow-sm rounded">
            <div class="card-body">
                <h5 class="card-title" v-if="title">{{title}}</h5>
                <p class="card-text">
                    <slot></slot>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['title', 'classes']
}
</script>

<style>

</style>