<template>
    <div id="header-page" :class="`${headerVariant} ${sizeHeader}`">
        <div id="title-section" class="d-flex justify-content-between align-items-center">
            <div>
                <h1>{{title}}</h1>
                <h5 v-if="subtitle">{{subtitle}}</h5>
            </div>
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        variant: {
            type: String,
            default: 'main'
        }, 
        title: {
            type: String
        },
        subtitle: {
            type: String
        },
        size: {
            type: String,
            default: 'normal'
        }
    },
    computed: {
        headerVariant(){
            if(this.variant === 'main'){
                return 'main-header'
            }else if(this.variant === 'input'){
                return 'input-header'
            }else if(this.variant === 'output'){
                return 'output-header'
            }else{
                return 'transfer-header'
            }
        },
        sizeHeader(){
            if(this.size === 'normal'){
                return 'size-normal'
            }else if(this.size === 'big'){
                return 'size-big'
            }else{
                return 'size-normal'
            }
        }
    }
}
</script>

<style>
    #header-page{
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        margin-top: -1.5rem;
        padding-top: 1.5rem;
        background: #a2ad91;
        color: #fff;
        transition: all 1s linear;
    }
    .size-normal{
        height: 150px;
    }
    .size-big{
        height: 190px;
    }
    .main-header{
        background-image: linear-gradient(224deg, #a2ad91 10%, #889475 100%) !important;
    }
    .input-header{
        background: #889475 !important;
    }
    .output-header{
        background: #580000 !important;
    }
    .transfer-header{
        background: #3d3d3d !important;
    }
    #title-section{
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
</style>