<template>
    <div class="p-0">
        <Card style="margin-top:-50px">
            <slot></slot>
        </Card>
    </div>
</template>

<script>
import Card from './Card.vue'

export default {
    components: {
        Card
    }
}
</script>

<style>

</style>