<template>
    <template v-if="asDiv == 'true'">
        <div class="error" :class="classes" v-if="field">{{field}}</div>
    </template>
    <template v-else>
        <span class="error" :class="classes" v-if="field">{{field}}</span>
    </template>
</template>

<script>
export default {
    props: {
        classes: {
            type: String
        }, 
        field: {
            type: String
        },
        asDiv: {
            type: String,
            default: "true"
        }
    }
}
</script>

<style scoped>
    .error{
        color: #e74a3b !important;
        background: #fdf1f1;
        padding: 0.5em;
        border-radius: 8px;
        width: 100%;
        font-size: 12px;
    }
</style>