<template>
    <div>
        <FormHeaderPage title="Marcas" />
        <PageBody>
            <form @submit.prevent="onSubmit">
                <div class="mb-3 row">
                    <div class="col-md-12">
                        <label for="nome" class="form-label">Nome da Marca <span class="required">*</span></label>
                        <input type="text" ref="nome" class="form-control" id="nome" v-model="marca.nome" placeholder="Informe o nome da marca para cadastro" required>
                        <ValidationMessage classes="mt-2" :field="marca.validate.nome" />
                    </div>
                </div>

                <div class="mt-3 row">
                    <div class="col-md-2">
                        <router-link to="/marcas" type="button" class="col-12 btn btn-secondary btn-pill"><i class="fa-solid fa-arrow-left"></i> Voltar</router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="col-12 btn btn-primary btn-pill"><i class="fas fa-save"></i> Salvar</button>
                    </div>
                </div>
            </form>
        </PageBody>
    </div>
</template>

<script>
import ValidationMessage from '../../components/elements/ValidationMessage.vue'
import FormHeaderPage from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'
import {mask} from 'vue-the-mask'

export default {
    components: {
        FormHeaderPage, PageBody, ValidationMessage
    },
    directives: {mask},
    data() {
        return {
            marca: {
                id: undefined,
                nome: '',
                validate: {
                    nome: ''
                }
            },
        }
    },
    methods:{
        onSubmit(){
            if(this.validate()){
                let _url = this.marca.id !== undefined ? `marca/${this.marca.id}/edit` : `marca/create`
                this.axios.post(_url, {...this.marca})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.marca.id === undefined){
                            this.marca = {
                                nome: '',
                                validate: {
                                    nome: ''
                                }
                            }
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        validate(){
            this.clearValidate()
            if(!this.marca.nome){
                this.marca.validate.nome = 'Necessário informar um nome para a marca'
                this.$refs.nome.focus()
                return false
            }
            return true
        },
        clearValidate(){
            this.marca.validate = {
                nome: ''
            }
        }
    },
    mounted(){
        const id = this.$route.params.id
        if(id != undefined && id != null){
            this.axios.get(`/marca/${id}`)
                .then(response => {
                    this.marca = {
                        ...response.data.data, 
                        validate: {
                            nome: ''
                        }
                    }
                })
                .catch(err => {this.$toast.error(err.response.data.message)})
        }
    }
}
</script>

<style>
    .required{
        color: rgb(134, 16, 16);
        font-weight: bold;
    }
</style>