<template>
    <div>
        <HeaderPage title="Marcas">
            <router-link to="/marca/new" class="btn btn-primary d-flex justify-content-center align-items-center shadow-sm" style="border-radius: 50%;width: 56px; height: 56px; px;">
                <i class="fas fa-add"></i>
            </router-link>
        </HeaderPage>
        <PageBody>
            <div class="d-flex justify-content-center align-items-center" style="min-height:40vh" v-if="loading || !list.length">
                <CircularLoading v-if="loading" />
                <p v-if="!loading && !list.length">
                    <i>Ainda não há marcas cadastradas</i>
                </p>
            </div>
            <template v-if="!loading && list.length">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in list" :key="item.id">
                        <div>
                            <div style="font-size: 1.5em;">{{item.nome}}</div>
                        </div>
                        <div class="actions d-flex">
                            <router-link :to="`/marca/edit/${item.id}`" class="small-rounded-button cursor-pointer mr-2">
                                <i class="fa-solid fa-pencil text-success"></i>
                            </router-link>
                            <ModalCall @click="selectedMarca=item">
                                <div class="small-rounded-button cursor-pointer">
                                    <i class="fa-solid fa-trash text-danger"></i>
                                </div>
                            </ModalCall>
                        </div>
                    </li>
                </ul>
            </template>
        </PageBody>

        <Modal :title="modal.title" :body="modal.text" :footer="modal.footer" @modalAccepted="excluirMarca"/>
    </div>
</template>

<script>
import HeaderPage from './../../components/elements/PageHeader.vue'
import PageBody from './../../components/elements/PageBody.vue'
import CircularLoading from './../../components/elements/CircularLoading.vue'
import Modal from '../../components/elements/Modal/Modal.vue'
import ModalCall from '../../components/elements/Modal/ModalCall.vue'

export default {
    components: {
        HeaderPage, PageBody, CircularLoading, Modal, ModalCall
    },
    data(){
        return{
            selectedMarca: undefined,
            loading: true,
            modal: {
                title: `Apagar Marca`,
                text: ``,
                footer: {
                    dismiss: "Entendido",
                    accept: "Excluir",
                    acceptIcon: "fa-solid fa-trash"
                }
            },
            list: undefined
        }
    },
    watch: {
        selectedMarca(){
            this.modal.text = `            
                <p>Você tem certeza que deseja apagar a marca <b>${this.selectedMarca.nome}</b>?</p>
            `
        }
    },
    methods: {
        excluirMarca(){
            this.axios.post(`marca/${this.selectedMarca.id}/delete`)
                .then(response => {
                    this.list = response.data.data
                    this.$toast.success(response.data.message)
                })
                .catch(err => this.$toast.error(err.response.data.message))
        }
    },
    async mounted() {
        this.axios.get('marca/list')
            .then(response => {
                this.list = response.data.data
                this.loading = false
            })
            .catch(err => {
                this.$toast.error(err.data.message)
            })
    }
}
</script>

<style>
    .especialidade{
        font-size: .8em;
        color: #666;
    }
</style>