<template>
    <div>
        <FormHeaderPage title="Fornecedores" />
        <PageBody>
            <form @submit.prevent="onSubmit">
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-8">
                        <label for="nome" class="form-label">Nome do Fornecedor <span class="required">*</span></label>
                        <input type="text" ref="nome" class="form-control" id="nome" v-model="fornecedor.nome" placeholder="Digite o nome do fornecedor" required>
                        <ValidationMessage classes="mt-2" :field="fornecedor.validate.nome" />
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <label for="cnpj" class="form-label">CNPJ</label>
                        <input type="text" ref="cnpj" class="form-control"  v-mask="'##.###.###/0001-##'" id="cnpj" v-model="fornecedor.cnpj" placeholder="CNPJ">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-12 col-lg-6">
                        <label for="telefone" class="form-label">Telefone <span class="required">*</span></label>
                        <input type="text" ref="telefone" class="form-control" id="telefone" v-mask="['(##) #####-####','(##) ####-####']" v-model="fornecedor.telefone" placeholder="Telefone" required>
                        <ValidationMessage classes="mt-2" :field="fornecedor.validate.telefone" />
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" ref="email" class="form-control" id="email" v-model="fornecedor.email" placeholder="E-mail">
                    </div>                    
                </div>
                <div class="mb-3">
                    <label for="endereco" class="form-label">Endereço</label>
                    <input type="text" ref="endereco" class="form-control" id="endereco" v-model="fornecedor.endereco" placeholder="Endereço">
                </div>

                <div class="mt-3 row">
                    <div class="col-md-2">
                        <router-link to="/fornecedor" type="button" class="col-12 btn btn-secondary btn-pill"><i class="fa-solid fa-arrow-left"></i> Voltar</router-link>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="col-12 btn btn-primary btn-pill"><i class="fas fa-save"></i> Salvar</button>
                    </div>
                </div>
            </form>
        </PageBody>
    </div>
</template>

<script>
import ValidationMessage from '../../components/elements/ValidationMessage.vue'
import FormHeaderPage from '../../components/elements/PageHeader.vue'
import PageBody from '../../components/elements/PageBody.vue'
import {mask} from 'vue-the-mask'

export default {
    components: {
        FormHeaderPage, PageBody, ValidationMessage
    },
    directives: {mask},
    data() {
        return {
            fornecedor: {
                id: undefined,
                nome: '',
                cnpj: '',
                telefone: '',
                email: '',
                endereco: '',
                validate: {
                    nome: '',
                    telefone: ''
                }
            },
        }
    },
    methods:{
        onSubmit(){
            if(this.validate()){
                let _url = this.fornecedor.id !== undefined ? `fornecedor/${this.fornecedor.id}/edit` : `fornecedor/create`
                this.axios.post(_url, {...this.fornecedor})
                    .then(response => {
                        this.$toast.success(response.data.message)
                        if(this.fornecedor.id === undefined){
                            this.fornecedor = {
                                nome: '',
                                cnpj: '',
                                telefone: '',
                                email: '',
                                endereco: '',
                                validate: {
                                    nome: '',
                                    telefone: ''
                                }
                            }
                        }
                    }).catch(err => {
                        this.$toast.error(err.response.data.message)
                    })
            }
        },
        validate(){
            this.clearValidate()
            if(!this.fornecedor.nome){
                this.fornecedor.validate.nome = 'Necessário informar um nome para o fornecedor'
                this.$refs.nome.focus()
                return false
            }else if(!this.fornecedor.telefone){
                this.fornecedor.validate.telefone = 'Necessário informar um telefone para o fornecedor'
                this.$refs.telefone.focus()
                return false
            }
            return true
        },
        clearValidate(){
            this.fornecedor.validate = {
                nome: '',
                telefone: ''
            }
        }
    },
    mounted(){
        const id = this.$route.params.id
        if(id != undefined && id != null){
            this.axios.get(`/fornecedor/${id}`)
                .then(response => {
                    this.fornecedor = {
                        ...response.data.data, 
                        validate: {
                            nome: '',
                            telefone: ''
                        }
                    }
                })
                .catch(err => {this.$toast.error(err.response.data.message)})
        }
    }
}
</script>

<style>
    .required{
        color: rgb(134, 16, 16);
        font-weight: bold;
    }
</style>